* {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", serif;
}


header {
    background-color: #FFF8F3;
    background-image: url('images/developer.png'), url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, right bottom;
    padding-top: 50px;
}
